.app-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16em;
    right: 15em;
    overflow: auto;
    padding: 2em;
}

.app-container section {
    width: 100%;
}

.app-container i {
    margin: 0 .5em;
}

.app-container > section > h2 {
    margin: 0 0 .5em 0;
}

.app-container .widget {
    border-radius: .5em;
    background: #FFFFFF;
    padding: 1em;
}

.app-container .widget section {
    margin: 4em 0 0 0;
}

.app-container .widget section > div {
    display: flex;
    justify-content: space-between;
}
.app-container .widget section > h2 {
    display: flex;
    justify-content: space-between;
    margin: 0 0 .5em 0;
}

.app-container .tasks a {
    padding: 1em;
    border-radius: .5em;
    display: flex;
    justify-content: space-between;
}
.app-container span {
    display: flex;
    align-items: center;
    font-weight: 500;
}
.app-container .tasks a:hover {
    background: #F1F1F2;
}

.app-container .list-item {
    padding: 1em 0;
    border-bottom: 1px solid #ECECEC;
    font-size: 1.1em;
}
.app-container .list-item:last-child {
    border-bottom: none;
}
.app-container .list-item span:first-child {
    font-weight: 100;
}