.app-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16em;
    right: 15em;
    overflow: auto;
    padding: 2em;
    z-index: 1000;
}

.app-container section {
    width: 100%;
}

.app-container i {
    margin: 0 .5em;
}

.app-container > section > h2 {
    margin: 0 0 .5em 0;
}

.app-container .widget {
    border-radius: .5em;
    background: #FFFFFF;
    padding: 1em;
}

.app-container .widget section > div {
    display: flex;
    justify-content: space-between;
}
.app-container .widget section > h2 {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1em 0;
}

.app-container .tasks a {
    padding: 1em;
    border-radius: .5em;
    display: flex;
    justify-content: space-between;
}
.app-container span {
    display: flex;
    align-items: center;
    font-weight: 500;
}
.app-container .tasks a:hover {
    background: #F1F1F2;
}

.app-container .list-item {
    padding: 1em 0;
    border-bottom: 1px solid #ECECEC;
    font-size: 1em;
}
.app-container .list-item:last-child {
    border-bottom: none;
    margin-bottom: -1em;
}
.app-container .list-item span:first-child {
    font-weight: 100;
}

.app-container .task-status:hover, .app-container .addStep i:hover {
    color: #06D7A0;
    cursor: pointer;
}

.app-container .addStep form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-container .form {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.app-container .form form {
    margin: .5em 0 0 0;
}
.app-container .form form label {
    display: none;
}
.app-container .form form input {
    width: 90%;
    margin: 1em 0 .5em 0;
    padding: 1em 0 .5em 0;
    font-size: 1em;
    border-bottom: 1px solid #ECECEC;
}
.app-container .form .helptext {
    font-size: .75em;
    font-weight: 100;
}
.app-container .form div {
    margin: 3em 0 0 0;
    display: flex;
    justify-content: space-between;
}
.app-container .taskDescription form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.app-container .taskDescription form div {
    color: #FFFFFF;
    margin: .5em 0 0 0;
}