{% extends 'base.html' %}

{% block content %}

<section>
  <div class="widget">
    <h1>{{ task.name }}
      <span>
        <i class="fi fi-rr-menu-dots">
          <div class="popup">
            <div class="set-task-status">
              <i class="fi fi-ss-circle blue"></i>
              <input id="{{ task.id }}" data-url="{% url 'task:setTaskStatus' %}" type="submit" value="Ouvert">
            </div>
            <div class="set-task-status">
              <i class="fi fi-ss-circle green"></i>
              <input id="{{ task.id }}" data-url="{% url 'task:setTaskStatus' %}" type="submit" value="Fermé">
            </div>
            <div class="separator"></div>
            <div class="set-task-status">
              <input id="{{ task.id }}" data-url="{% url 'task:deleteTask' %}" type="submit" value="Supprimer">
            </div>
          </div>
        </i>
        {% if task.status == "Ouvert" %}
          <i class="taskStatus fi fi-ss-circle-small blue"></i>
        {% else %}
          <i class="taskStatus fi fi-ss-circle-small green"></i>
        {% endif %}
      </span>
    </h1>
    <br>
    <section class="taskDescription">
      <h2>Description</h2>
      <form>
        {% csrf_token %}
        <textarea maxlength="500" task-id="{{ task.id }}" task-description="{{ task.description }}" type="text" placeholder="Ajouter une description"></textarea>
        <div>Press enter to save</div>
      </form>
    </section>

    <section>
      <h2>
        Avancement
        <span class="progressBar">
          <b></b>
          <div class="progressContainer"><div class="progressValue" value="{{ task.progress }}"></div></div>
        </span>
      </h2>

      {% for step in steps %}
      <div class="list-item" id="{{ step.id }}">
        <span>
          {{ step.name }}
        </span>
        <span>
          <b class="{{ step.id }}">
            {{ step.status }}
          </b>
          <i class="fi fi-rr-angle-small-down task-status">
            <div class="popup">
              <span class="set-step-status">
                <i class="fi fi-sr-exclamation red"></i>
                <input id="{{ step.id }}" data-url="{% url 'task:setStepStatus' %}" type="submit" value="Bloqué">
              </span>
              <span class="set-step-status">
                <i class="fi fi-sr-clock yellow"></i>
                <input id="{{ step.id }}" data-url="{% url 'task:setStepStatus' %}" type="submit" value="En cours">
              </span>
              <span class="set-step-status">
                <i class="fi fi-sr-checkbox green"></i>
                <input id="{{ step.id }}" data-url="{% url 'task:setStepStatus' %}" type="submit" value="Terminé">
              </span>
              <div class="separator"></div>
              <span class="set-step-status">
                <input id="{{ step.id }}" data-url="{% url 'task:setStepStatus' %}" type="submit" value="Supprimer">
              </span>
            </div>
          </i>

          {% if step.status == "Bloqué" %}
            <i icon="{{ step.id }}" class="fi fi-sr-exclamation red"></i>
          {% elif step.status == "Terminé" %}
            <i icon="{{ step.id }}" class="fi fi-sr-checkbox green"></i>
          {% elif step.status == "En cours" %}
            <i icon="{{ step.id }}" class="fi fi-sr-clock yellow"></i>
          {% else %}
            <i icon="{{ step.id }}" class="fi fi-rr-square"></i>
          {% endif %}
          <i class="fi fi-rr-menu-dots"></i>
        </span>
      </div>
      {% endfor %}
      <div class="list-item addStep">
        <form>
          {% csrf_token %}
          <input task-id="{{ task.id }}" type="text" placeholder="Ajouter une étape d'avancement">
          <i class="fi fi-rr-add"></i>
        </form>
      </div>
    </section>
  </div>
</section>

{% endblock %}