{% extends 'base.html' %}

{% block content %}

<section>
  <h2>Tâches <i class="fi fi-rr-add"></i></h2>
  <div class="widget">
    <h2>{{ task.name }}</h2>

    {% if task.description %}
    <section>
      <h2>Description</h2>
      <p>{{ task.description }}</p>
    </section>
    {% endif %}

    <section>
      <h2>
        Avancement
        <span class="progressBar">
          <b></b>
          <div class="progressContainer"><div class="progressValue" value="{{ task.progress }}"></div></div>
        </span>
      </h2>

      {% for step in steps %}
      <div class="list-item">
        <span>
          {{ step.name }}
        </span>
        <span>
          <b id="{{ step.id }}">
            {{ step.status }}
          </b>
          <i class="fi fi-rr-angle-small-down task-status">
            <div class="popup">
              <input id="{{ step.id }}" data-url="{% url 'task:setStepStatus' %}" class="ajax-set-step-status" type="submit" value="Bloqué">
              <input id="{{ step.id }}" data-url="{% url 'task:setStepStatus' %}" class="ajax-set-step-status" type="submit" value="En cours">
              <input id="{{ step.id }}" data-url="{% url 'task:setStepStatus' %}" class="ajax-set-step-status" type="submit" value="Terminé">
            </div>
          </i>

          {% if step.status == "Bloqué" %}
            <i icon="{{ step.id }}" class="fi fi-sr-exclamation red"></i>
          {% elif step.status == "Terminé" %}
            <i icon="{{ step.id }}" class="fi fi-sr-checkbox green"></i>
          {% elif step.status == "En cours" %}
            <i icon="{{ step.id }}" class="fi fi-sr-clock yellow"></i>
          {% else %}
            <i icon="{{ step.id }}" class="fi fi-rr-square"></i>
          {% endif %}
        </span>
      </div>
      {% endfor %}
      <div class="list-item addStep">
        <form>
          {% csrf_token %}
          <input task-id="{{ task.id }}" type="text" placeholder="Ajouter une étape d'avancement">
          <i class="fi fi-rr-add"></i>
        </form>
      </div>
    </section>
  </div>
</section>

{% endblock %}