{% extends 'base.html' %}

{% block content %}
<section>
    <h2>Tâches <i class="fi fi-rr-add"></i></h2>
    <div class="tasks widget">
        {% for task in tasks %}
        <a href="{% url 'task:task' task.id %}">
            <span>{{ task.name }}</span>
            <span>
                {{ task.progress }}%
                <div class="progressContainer"><div class="progressValue" style="background: #0080FF; width: {{ task.progress }}%;"></div></div>
            </span>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}