{% extends 'base.html' %}

{% block content %}
<section>
    <h2>Tâches <a href="{% url 'task:addTask' %}"><i class="fi fi-rr-add"></i></a></h2>
    <div class="tasks widget">
        {% for task in tasks %}
        <a href="{% url 'task:task' task.id %}">
            <span>{{ task.name }}</span>
            <span class="progressBar">
                <b></b>
                <div class="progressContainer"><div class="progressValue" value="{{ task.progress }}"></div></div>
              </span>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}