{% load static %}

<html>
    <head>
        <title>Dashboard</title>

        <link rel="stylesheet" href="{% static 'dashboard/icons/css/uicons-regular-rounded.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/icons/css/uicons-solid-rounded.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard/css/app-container.css' %}" />
        <link rel="stylesheet" href="{% static 'dashboard/css/left-menu.css' %}" />
        <link rel="stylesheet" href="{% static 'dashboard/css/right-menu.css' %}" />
        <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'dashboard/js/time.js' %}"></script>
        <script src="{% static 'dashboard/js/popup.js' %}"></script>
    </head>
    <body>
        {% include './left-menu.html' %}
        <div class="app-container">
            {% block content %}{% endblock %}
        </div>
        {% include './right-menu.html' %}
    </body>
</html>