{% extends 'base.html' %}

{% block content %}

<div class="widget form">
    <h2>Inscription</h2>
    <form action="{% url 'accounts:signup' %}" method="post">
        {% csrf_token %}
        {{ form }}
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <div>
            <a class="button" href="{% url 'accounts:login' %}">Se connecter</a>
            <button class="button callToAction" type="submit">S’inscrire</button>
        </div>
    </form>
</div>

{% endblock content %}