{% load static %}

<html>
    <head>
        <title>Authentification</title>

        <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'dashboard/css/left-menu.css' %}" />
        <link rel="stylesheet" href="{% static 'dashboard/css/right-menu.css' %}" />
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'dashboard/js/time.js' %}"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>