{% extends './base.html' %}

{% block content %}

<div class="formContainer">
  {% if validlink %}
  <h2>Changer le mot de passe</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <a></a>
      <button type="submit">Confirmer</button>
    </div>
  </form>
  {% else %}
  <p>
    Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé.
    Veuillez demander une nouvelle réinitialisation du mot de passe.
  </p>
{% endif %}
</div>

{% endblock %}