{% load i18n %}

<div class="left-menu col-2">
    <section>
        {% if user.is_authenticated %}
        <section class="user">
            <h2>
                <span>
                    {{ user | title }}
                </span>
                <i class="fi fi-rr-angle-small-down"></i>
            </h2>
            <div class="popup">
                <a href="{% url 'accounts:userProfile' user.id %}"><i class="fi fi-rr-user"></i>{% trans 'See user profile' %}</a>
                <a href=""><i class="fi fi-rr-paper-plane"></i>{% trans 'Invite collaborators' %}</a>
                <div class="separator"></div>
                <a href="{% url 'accounts:logout' %}">{% trans 'Sign out' %}</a>
            </div>
        </section>
        <section id="menu">
            <!-- <h2>Menu <i class="fi fi-rr-add"></i></h2> -->
            <h2>{% trans 'Menu' %}</h2>
            <a href="/"><i class="fi fi-rr-home"></i>{% trans 'Dashboard' %}</a>
            <a href=""><i class="fi fi-rr-calendar"></i>{% trans 'Calendar' %}</a>
            <a href=""><i class="fi fi-rr-apps"></i>{% trans 'Projects' %}</a>
            <a href="{% url 'accounts:userProfile' user.id %}"><i class="fi fi-rr-user"></i>{% trans 'Profile' %}</a>
            <a href=""><i class="fi fi-rr-comment"></i>{% trans 'Messages' %}</a>
            {% if user.is_superuser %}
            <a href="/admin"><i class="fi fi-rr-settings"></i>{% trans 'Administration' %}</a>
            {% endif %}
        </section>
        {% else %}
            <section>
                <h2>{% trans 'Authenticate' %}</h2>
                <a href="{% url 'accounts:login' %}"><i class="fi fi-rr-following"></i>{% trans 'Login' %}</a>
                <a href="{% url 'accounts:signup' %}"><i class="fi fi-rr-user-add"></i>{% trans 'Sign up' %}</a>
            </section>
        {% endif %}
    </section>
    <section>
        <h4>2022 {% trans 'by' %} Basile SAMSON</h4>
        <h4>{% trans 'with' %} &#x1F496; {% trans 'for' %} David</h4>
    </section>
</div>